.order-page {
   display: flex;
   justify-content: space-between;
}

.order-page__left {
   width: 70%;
}

.order-page__right {
   width: 27%;
   font-size: 18px;
   font-weight: bold;
}
.order-page__total-price{
   color:  white;
  margin-left: 65px;
  border: 1px solid rgb(80, 82, 84);
  border-radius: 15px;
  text-align: center;
}